__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
*.log
db.sqlite3
.vscode/
.idea/
.DS_Store
.git
daywisework/
backup*.json
backup*.sql
'backup_$(date'
'witch -c recover-category-work 8aa9a37'
'witch feature-notification'
