{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
    <div class="container">
        <h3 class="text-center">Login</h3>
        
        <!-- Google Signup Button -->
        <a class="btn mb-3 w-100" style="background-color:#24292e; color:white;" href="{% provider_login_url 'google' %}">
            Login with Google
        </a>
        
        <!-- GitHub Button -->
        <a class="btn mb-3 w-100" style="background-color:#24292e; color:white;" 
           href="{% provider_login_url 'github' %}">
            Login with GitHub
        </a>

        <form action="{% url 'login' %}" method="POST" style="width:500px; margin:auto">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-warning">Login</button>
        </form>
        
        <!-- Forgot Password Link -->
        <div class="text-center mt-3" style="width:500px; margin:auto">
            <small>
                <a href="{% url 'forgot_password' %}" class="text-warning fw-bold">Forgot Password?</a>
            </small>
        </div>
        
        <div class="card-footer text-center bg-light">
            <small>Don't have an account? 
                <a href="{% url 'register' %}" class="text-warning fw-bold">Register here</a>
            </small>
        </div>
    </div>
{% endblock %}