{% extends 'base.html' %}
<!-- imagetitle, category/uncategory, image, title, desc, authorname, created time, views, like, dislikes, readmore where image, title, readmore,category/uncategory imagetitle clickable -->
{% load static %}

{% block extra_css %}
<link href="{% static 'css/randomblogs.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include "includes/blog_list.html" with page_obj=randomblogs tab="randomblogs" search=search %}
{% endblock %}

{% block extra_js %}
{% endblock %}
