{% extends 'base.html' %}


{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
\    <div class="container">
        <h3 class="text-center">Register</h3>
        <!-- Google Signup Button -->
<!-- Google Signup Button -->
<a class="btn mb-3 w-100" style="background-color:#24292e; color:white;" href="{% provider_login_url 'google' %}">
    Signup with Google
</a>

<!-- GitHub Signup Button -->
<a class="btn mb-3 w-100" style="background-color:#24292e; color:white;" 
   href="{% provider_login_url 'github' %}">
    Signup with GitHub
</a>
        <form action="{% url 'register' %}" method="POST" style="width:500px; margin:auto">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-warning">Register</button>
        </form>
        <div class="text-center mt-3">
    <p>Don't have an account? 
        <a href="{% url 'login' %}">Login here</a>
    </p>
</div>
    </div>
{% endblock %}